# Core functionality - changes here should be rare!
/src/app.py                   @oblivion113
/src/backend/database.py      @oblivion113
/src/backend/routers/auth.py  @oblivion113

# The frontend will need refactored soon to be more object oriented.
/src/static/   @oblivion113
